<a href="https://colab.research.google.com/github/jiho4399/TIL_Colab/blob/master/02_%EC%A7%91%ED%95%A9(set).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 집합(set) 만들기

In [ ]:
# 집합 만들기 = set([])
set1 = set([1, 2, 3])

print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

In [ ]:
# 집합 만들기 {}

set2 = {1, 2, 3}
print(set2)
print(type(set2))

{1, 2, 3}
<class 'set'>

In [ ]:
# set은 중복을 허용하지 않는다. 중요!!

set3 = set('Hello')

set3

{'H', 'e', 'l', 'o'}

In [ ]:
## set은 인덱스(순서)가 없기 때문에 인덱스로 접근하려면 list나 tuple로 만들어야 한다.

lst = list(set1)

print(lst)
print(lst[0])

t1 = tuple(set1)
print(t1)
print(t1[0])

[1, 2, 3]
1
(1, 2, 3)
1

# 2. set 교집합, 합집합, 차집합

In [ ]:
## 교집합

s1 = set([1, 2, 3, 4, 5, 6]) #set
s2 = {4, 5, 6, 7, 8, 9} #set

s1 & s2

{4, 5, 6}

In [ ]:
## 합집합
print(s1.union(s2))
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
## 차집합
s2 - s1

{7, 8, 9}

# 3. 집합 값 수정하기 (추가, 삭제)

In [ ]:
# 집합에 값 하나 추가하기

print(s1)
s1.add(7)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 집합에 값 여러개 추가하기
# 집합을 하나 더 생성하여 .update

s3 = {10, 11, 12}
s1.update(s3)

s1

{1, 2, 3, 4, 5, 6, 7, 10, 11, 12}

In [ ]:
# 집합에서 특정 값'4' 빼기

s1.remove(4)

s1

{1, 2, 3, 5, 6, 7, 10, 11, 12}

# 4. 불리언 (True / False)

- 주로 if, while 문에서 쓰임

```
bool
True :  a = True (명시적)
        a = 1 (암묵적)
False : a = Falfe (명시적)
        0 (숫자) (암묵적)
        None (암묵적)
        " (암묵적)

```

In [ ]:
# T와 F는 대문자!!!
a = True
b = False

In [ ]:
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

= : assignment

== : equal

In [ ]:
# 맞는지 물어봄 (결과 값 : True / False)

print(1 == 1)
print(2 > 1)
print(2 < 1)

True
True
False

In [ ]:
# a의 값이 없어질 때 까지 끝에서부터 값을 뽑아냄

a = [1, 2, 3, 4]

while a:
  print(a.pop())

4
3
2
1

In [ ]:
# 리스트 안에 값이 없으므로 거짓 출력
# 주로 if, while 문에서 쓰임

if []:
  print('참')
else :
  print('거짓')

거짓

In [ ]:
# 리스트 안에 값이 있으므로 참 출력

if [1, 2, 3]:
  print('참')
else :
  print('거짓')

참

In [ ]:
# 값이 있으므로 참 출력
bool('python')

True

In [ ]:
# 값이 없으므로 거짓 출력
print(bool())
print(bool(''))

False
False

# 5. 변수

In [ ]:
# 변수 만들기 
# 변수 : 데이터를 담는 그릇

a = 1
b = 'python'
c = [1, 2, 3]

In [ ]:
# 변수(가 의미하는 데이터)의 메모리 상 주소
id(c)

140170810289280

In [ ]:
# c를 b에 넣으면 b의 주소값이 c의 주소값으로 바뀜
b = c
print(id(b))

# b와 c가 같냐고 묻기 (주소가 기준이 됨)
print(b is c)

140170810289280
True

In [ ]:
# b랑 c의 주소가 같아졌기 때문에 c의 데이터를 바꾸면 b의 데이터도 바뀜

print(c)
c[1] = 4
print(c)
print(b)

[1, 2, 3]
[1, 4, 3]
[1, 4, 3]

a와 b 새로 생성!!

In [ ]:


a = [1, 2, 3]
b = a[:] #b는 a의 값들만 복사하여 만듦 그래서 데이터 주소는 바뀌지 않음

print(b)
print(c)

[1, 2, 3]
[1, 4, 3]

In [ ]:
## b는 a의 값들만 복사하여 만듦. 그래서 데이터 주소는 바뀌지 않음

a[1] = 0

print(a)
print(b)

#그래서
print(b is a)

[1, 0, 3]
[1, 2, 3]
False

In [ ]:
print(id(a))
print(id(b))
print(id(c))

140170810110032
140170810482032
140170810289280

변수 만들기 방법 2

In [ ]:
# 튜플

(a, b) = 'Python', 'Java'
print(a)
print(b)

Python
Java

In [ ]:
# 리스트

[a, b] = ['Python', 'Java']
print(a)
print(b)

Python
Java

In [ ]:
# 같은 값 넣기
a = b = 'python'

print(a)
print(b)

print(a is b)

python
python
True

In [ ]:
# 값 교차하여 넣기 (파이썬에서만)

a = 3
b = 5

a, b = b, a

a, b

(5, 3)