<a href="https://colab.research.google.com/github/jiho4399/TIL_Colab/blob/master/03_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. if 문
- 들여쓰기가 매우 중요!!!!!
```
if 조건문 :
     실행문
else : 
     실행문

```

In [ ]:
IsOverweight = True

if IsOverweight :
  print('다이어트')
  print('운동 하세요!')
else : 
  print('마음껏 드세요!')

다이어트
운동 하세요!

In [ ]:
IsOverweight = False

if IsOverweight :
  print('다이어트')
  print('운동 하세요!')
else : 
  print('마음껏 드세요!')

마음껏 드세요!

In [ ]:
# 불리언 타입 1 

x = 3
y = 2

x > y

True

In [ ]:
# 불리언 타입 2
x < y

False

In [ ]:
# if 거짓일 때
weight = 70

if weight > 80 :
  print('다이어트')
  print('운동 하세요!')
else : 
  print('마음껏 드세요!')

마음껏 드세요!

In [ ]:
# if 참일 때
weight = 90

if weight > 80 :
  print('다이어트')
  print('운동 하세요!')
else : 
  print('마음껏 드세요!')

다이어트
운동 하세요!

## or / and
- if 조건이 2가지일 때

In [ ]:
# if 조건 2가지 일 때 (or)
weight = 70
hasDisease = True

if weight > 80 or hasDisease :
  print('다이어트')
  print('운동 하세요!')
else : 
  print('마음껏 드세요!')

다이어트
운동 하세요!

In [ ]:
# if 조건 2가지 일 때 (and)
weight = 70
hasDisease = True

if weight > 80 and hasDisease :
  print('다이어트')
  print('운동 하세요!')
else : 
  print('마음껏 드세요!')

마음껏 드세요!

## **if 조건문 작성 TIP!!!**
```
or 문에서는 참일 가능성이 많은 조건이 앞으로 오게 작성하고
and 문에서는 둘다 참이여야 하므로 거짓일 가능성이 많은 조건이 앞으로 오게 작성!
```

In [ ]:
# 1이 리스트 안에 있는지 확인하기
print(1 in [1, 2, 3])

# 1이 리스트 안에 없는지 확인하기
print(1 not in [1, 2, 3])

#a가 튜플 안에 있는지 확인하기
print('a' in ('a', 'b', 'c'))

True
False
True

## pass
- (조건이 참일 때) 아무것도 출력하지 않고 싶을 때 
- 개발 중에 이 로직이 동작되는지 확인하고 싶을 때 주로 사용

In [ ]:
weight = 70
hasDisease = True

if weight > 80 or hasDisease :
  pass
else : 
  print('마음껏 드세요!')

## elif
- 조건을 추가하고 싶은 경우
- elif(여러개 사용 가능 but 많이 사용하면 복잡해짐)
- 조건의 순서도 중요함 (코드 짤 때 먼저 확인해야하는 조건문을 위에 작성!!)

In [ ]:
weight = 75
hasDisease = True

if weight > 80 :
  print('다이어트')
  print('운동 하세요!')

elif hasDisease :
  print('의사와 상담하세요!')

else : 
  print('마음껏 드세요!')

의사와 상담하세요!

## if문 작성 방법 추가
- 추천하진 않으나 알고는 있어야 함
- 한 줄로도 작성 가능하나 가독성이 떨어져 좋지 않음

In [ ]:
주머니 = ['현금', '신용카드', '신분증']

if '현금' in 주머니 : pass
else : print('주머니에 뭐 있냐?')

In [ ]:
score = 80

result = 'pass' if score >= 80 else 'fail'

print(result)

pass

In [ ]:
print(3 == 5)

False

In [ ]:
x = 3

print(1 < x < 5)

True

In [ ]:
print((3 == 3) and (4 != 3))

True

In [ ]:
print(3 >= 4)

False

In [ ]:
if 4 < 3 :
  print('Hi--')

else : 
  print('Hi2--')

Hi2--

In [ ]:
if True :
  print('1')

else : 
  print('2')

print('3')

1
3

## if 안에 if문

In [ ]:
if True : 
  if False :
    print(1)
  else : 
    print(2)
else : 
  print(3)

print(4)

2
4

# while 문
```
while 조건문 :    
  실행문 ...
```

In [ ]:
tryCnt = 0

while tryCnt < 10 :
  tryCnt += 1
  print(f'{tryCnt}번 노력했습니다.')
  if tryCnt >= 10 :
    print('나무 넘어간다..!')

1번 노력했습니다.
2번 노력했습니다.
3번 노력했습니다.
4번 노력했습니다.
5번 노력했습니다.
6번 노력했습니다.
7번 노력했습니다.
8번 노력했습니다.
9번 노력했습니다.
10번 노력했습니다.
나무 넘어간다..!

In [ ]:
prompt = """
  1. 추가
  2. 삭제
  3. 보기
  4. 그만두기
  번호를 입력하세요. : 
"""

num = 0 # num이라는 변수를 생성 (4만 아니라면 가능)

while num != 4 :
  print(prompt)
  num = int(input()) # 사용자가 선택할 수 있게 출력해줌
  print(f'선택한 번호 : {num}')

  1. 추가
  2. 삭제
  3. 보기
  4. 그만두기
  번호를 입력하세요. :

4
선택한 번호 : 4

In [ ]:
prompt = """
  1. 추가
  2. 삭제
  3. 보기
  4. 그만두기
  번호를 입력하세요. : 
"""

num = 0 # num이라는 변수를 생성 (4만 아니라면 가능)

while num != 4 :
  #print(prompt)
  num = int(input(prompt))  # 사용자가 선택할 수 있게 출력해줌
  print(f'선택한 번호 : {num}')

  1. 추가
  2. 삭제
  3. 보기
  4. 그만두기
  번호를 입력하세요. :
4
선택한 번호 : 4

In [ ]:
# 자판기

num_coffee = 10
money = 0

while money :
  print('커피를 판매합니다.')

  num_coffee -= 1
  print(f'남은 커피는 {num_coffee} 입니다.')

  if num_coffee <= 0 :
    print('커피 판매를 중지합니다.')
    break
  
print('끝--')

커피를 판매합니다.
남은 커피는 9 입니다.
커피를 판매합니다.
남은 커피는 8 입니다.
커피를 판매합니다.
남은 커피는 7 입니다.
커피를 판매합니다.
남은 커피는 6 입니다.
커피를 판매합니다.
남은 커피는 5 입니다.
커피를 판매합니다.
남은 커피는 4 입니다.
커피를 판매합니다.
남은 커피는 3 입니다.
커피를 판매합니다.
남은 커피는 2 입니다.
커피를 판매합니다.
남은 커피는 1 입니다.
커피를 판매합니다.
남은 커피는 0 입니다.
커피 판매를 중지합니다.
끝--

## 부가기능

1. 돈을 입력 받는 기능
2. 커피의 가격을 정하고 투입한 돈과 비교하여 동일한 경우, 부족한 경우, 남는 경우에 대해서 처리

In [ ]:
# 자판기 2

num_coffee = 4
price = 0
money = 0

#print('커피는 5000원 입니다.')

while num_coffee > 0 :
    print('커피는 5000원 입니다.')
    print('지불 할 금액을 입력하세요.')
    price = int(input())

    if price == 5000 :
      print('커피가 나왔습니다.')
      num_coffee -= 1
      print(f'남은 커피는 {num_coffee}잔 입니다.\n_______')
      
    elif price < 5000 : 
      print('금액이 부족합니다.')
      num_coffee -= 0
      print(f'남은 커피는 {num_coffee}잔 입니다.\n_______')
      
    elif price > 5000 :
      print(f'거스름돈 {price - 5000}을 받으세요.')
      num_coffee -= 1
      print(f'남은 커피는 {num_coffee}잔 입니다.\n_______')

    else :
      print('오류가 발생하였습니다.')
      
    #break

print('끝--')

커피는 5000원 입니다.
지불 할 금액을 입력하세요.
5000
커피가 나왔습니다.
남은 커피는 3잔 입니다.
_______
커피는 5000원 입니다.
지불 할 금액을 입력하세요.
4000
금액이 부족합니다.
남은 커피는 3잔 입니다.
_______
커피는 5000원 입니다.
지불 할 금액을 입력하세요.
5000
커피가 나왔습니다.
남은 커피는 2잔 입니다.
_______
커피는 5000원 입니다.
지불 할 금액을 입력하세요.
6000
거스름돈 1000을 받으세요.
남은 커피는 1잔 입니다.
_______
커피는 5000원 입니다.
지불 할 금액을 입력하세요.
6000
거스름돈 1000을 받으세요.
남은 커피는 0잔 입니다.
_______
끝--

- 1 ~ 10 홀수를 구하는 프로그램

In [ ]:
num = 0

while num < 10 :
  num += 1
  if num%2 == 1 :
    print(num)

1
3
5
7
9

In [ ]:
#num==5일 때 continue를 만나므로 print이하 코드가 실행되지 않습니다. 
#따라서, 5를 제외한 1에서 9까지의 코드가 실행됩니다.

num=0
while num < 10:
  num+=1
  if num == 5:
    continue
  print(num)

1
2
3
4
6
7
8
9
10

# for문 (반복문)
- 변수를 따로 지정해주지 않아도 자동으로 지정
```
for 변수 in 리스트/튜플/문자열 :    
     실행문...
```

In [ ]:
lCnt = ['one', 'two', 'three']

for i in lCnt :
  print(i)

one
two
three

In [ ]:
num = [(1, 2), (3, 4), (5, 6)]

for (start, stop) in num :
  print(stop - start)

1
1
1

## 1. 합불 예제

In [ ]:
scores = [90, 70, 85, 65, 50]
cut_off = 80

num = 0

for score in scores : 
  num += 1
  if score >= cut_off :
    print(f'{num}번 학생 합격입니다.')
  else :
    print(f'{num}번 학생 다음기회에...')

1번 학생 합격입니다.
2번 학생 다음기회에...
3번 학생 합격입니다.
4번 학생 다음기회에...
5번 학생 다음기회에...

# range() 함수

- 범위 생성 함수

```
range([start=0], stop, [step=1])
[] : 생략가능
```

In [ ]:
a = range(10)

a

range(0, 10)

In [ ]:
# 1부터 10까지 더하기 (끝 숫자 11은 포함하지 않는다!!)

result = 0

for i in range(1, 11) :
  result += i

print(result)

55

# List Comprehension

- 파이썬을 파이썬 답게 쓴다.

In [ ]:
result = [num + 3 for num in scores]

print(scores)
print(result)

[90, 70, 85, 65, 50]
[93, 73, 88, 68, 53]

In [ ]:
#scores2 = [98, 73, 88, 68, 53]
#result = [num + 3 for num in scores2 if num < (100-3) ]

#result

SyntaxError: ignored

In [ ]:
# 곱하기 출력 방법 1
result = [x * y for x in range(2, 10) for y in range(1, 10)]

result

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [ ]:
# 곱하기 출력 방법 2
# 이해하기 쉬운 코드
lst = []

for x in range(2, 10) :
  for y in range(1, 10) :
    #print(x * y)
    lst.append(x * y)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# for문 연습

In [ ]:
# 1. 과일을 하나씩 꺼내보기
fruits = ['apple', 'watermelon', 'orange']

for fruit in fruits :
  print(fruit)

apple
watermelon
orange

In [ ]:
# 2. 부가세 포함 가격 출력하기
price = [10000, 20000, 30000]

for i in price :
  i += i*0.1
  print(int(i))

11000
22000
33000

In [ ]:
# 3. 
분식 = ['김밥', '라면', '튀김']

# 오늘 점심 메뉴 :  김밥
# 오늘 점심 메뉴 :  라면
# 오늘 점심 메뉴 :  튀김
# 으로 출력하기

for i in 분식 :
  print(f'오늘 점심 메뉴 : {i}')

오늘 점심 메뉴 : 김밥
오늘 점심 메뉴 : 라면
오늘 점심 메뉴 : 튀김

In [ ]:
# 4. 리스트의 엘리먼트 , 엘리먼트의 길이, 엘리먼트의 첫글자를 출력
pet = ['dog', 'cat', 'hamster']


for i in pet :
  print(f'{i}, {len(i)}, {i[0]}')

dog, 3, d
cat, 3, c
hamster, 7, h

In [ ]:
# 5. dog를 뺀 나머지 출력
pets = ['dog', 'cat', 'hamster', 'fish']

for p in pets : 
  if p == 'dog' :
    continue
  print(p)


#fot p in pets[1:] :
# print(p)

cat
hamster
fish

In [ ]:
# 6. cat, fish 만 출력

for p in pets[1::2] : 
  print(p)

cat
fish

In [ ]:
# 7. fish, hamster, cat, dog 순으로 출력하기

for p in pets[::-1] :
  print(p)

fish
hamster
cat
dog

In [ ]:
# 8. 음수만 출력하기
num = [10, -20, -30, -40]

for n in num :
  if n < 0 :
    print(n)

-20
-30
-40

In [ ]:
num = [10, -20, -30, -40]

result = [i for i in num if i < 0]
result

[-20, -30, -40]