<a href="https://colab.research.google.com/github/jiho4399/TIL_Colab/blob/master/04_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 함수

```
def 함수명 (입력값) : 
  실행문...
```

## [1] 일반형태
- 매개변수 (parameter) : 함수에서 입력값으로 받은 것
- 인수 (argument) : 실행하는 데에 쓰이는 것

- 기본 형태
```
def 함수명 (매개변수) :    
  실행문
  return 결과값
 ---------------------------
변수 = 함수명 (인수)
```

In [ ]:
# 1. 함수 생성
def add(a, b) : # 함수정의 함수이름(입력값으로 a와 b를 받음)
  return a + b # 출력값 a + b (매개변수)

add(1, 3) #(인수)

4

## [2] 입력값이 없는 경우

```
변수 = 함수명 ()
```

In [ ]:
def say() :
  return 'hi'

a = say()
a

'hi'

## [3] 결과값(return)이 없는 경우

```
함수명 (인수)
```

In [ ]:
def add(a, b) :
  print(f'{a}, {b}의 합은 {a + b}입니다.')

add(5,6)

5, 6의 합은 11입니다.

## [4] 입력값, 츨력값 모두 없는 경우

In [ ]:
def say() :
  print('hi~~')

say()

hi~~

## 인수를 지정하면 자리를 바꿔도 됨

In [ ]:
# 인수를 지정하면 자리를 바꿔도 됨
def add(a, b) :
  print(b)
  return a + b

result = add(b = 3, a = 4)
print(result)

3
7

In [ ]:
def add(a, b) :
  print(b)
  return a + b

add(3,4)

4

7

## *args

- 데이터의 뭉치를 그대로 받아버리는 것
- 매개변수의 갯수에 상관없이 받겠다는 뜻
- 매개변수가 3개 이상일 때 사용!

In [ ]:
def add2 (*args) :
  print(args)

add2(1, 2, 3)

(1, 2, 3)

In [ ]:
# 데이터를 꺼내고 싶으면 (다 더하는 코드로 이해해보기)
def add2 (*args) :
  
  a = 0

  for arg in args :
    print(arg)
    a += arg

  return a

result = add2(1, 2, 3)
result

# 출력값은 6하나!

1
2
3

6

In [ ]:
result = add2(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

result

# 출력값은 55하나!

1
2
3
4
5
6
7
8
9
10

55

In [ ]:
## 계산기 만들기
def cal(op, *args) :
  if op == 'add' :
    result = 0

    for arg in args :
      #print(arg)
      result += arg

  elif op == 'mul' :
    result = 1

    for arg in args :
      #print(arg)
      result *= arg

  else :
    return 0

  return result

In [ ]:
a = cal('add', 1, 2, 3, 4, 5)
a

15

In [ ]:
b = cal('mul', 1, 2, 3, 4, 5)
b

120

## **kwargs
- 키워드 파라미터
- 키워드 알규먼트
- 딕셔너리 형태로 출력됨

In [ ]:
def print2(**kwargs) :
  print(kwargs)

print2(a = 1)

{'a': 1}

In [ ]:
print2(name = '지호', age = 20)

{'name': '지호', 'age': 20}

## 결과 처리
- packing된 결과를 튜플로 받음

In [ ]:
# packing
def add_mul(a, b) :
  return a + b, a * b

result = add_mul(3, 5)
result

(8, 15)

In [ ]:
# unpacking
print(result[0])
print(result[1])

8
15

In [ ]:
# unpacking
res1 , res2 = add_mul(3, 5)

print(res1)
print(res2)

8
15

In [ ]:
# 함수의 파라메타가 유효한지 확인
def say_nick(nick) :
  if nick == '바보' :
    return

  print(f'나의 별명은 {nick} 입니다.')

say_nick('바보')

In [ ]:
say_nick('아이언맨')

나의 별명은 아이언맨 입니다.

## 기본값 설정

In [ ]:
# 기본 형식
def intro_me(name, age, sex) :
  print(f'나의 이름은 {name}입니다.')
  print(f'나의 나이은 {age}입니다.')
  print(f'나의 성별은 {sex}입니다.')

intro_me('지호', '20', '여자')

나의 이름은 지호입니다.
나의 나이은 20입니다.
나의 성별은 여자입니다.

In [ ]:
# 기본 형식 + 기본값 설정
def intro_me(name, age, sex = '여자') :
  print(f'나의 이름은 {name}입니다.')
  print(f'나의 나이은 {age}입니다.')
  print(f'나의 성별은 {sex}입니다.')

intro_me('지호', '20')

나의 이름은 지호입니다.
나의 나이은 20입니다.
나의 성별은 여자입니다.

In [ ]:
# 파라메타 추가하기 (디폴트가 있는 파라메타는 맨 뒤로 보내야 한다)
def intro_me(name, age, hobby, sex = '여자') :
  print(f'나의 이름은 {name}입니다.')
  print(f'나의 나이은 {age}입니다.')
  print(f'나의 성별은 {sex}입니다.')
  print(f'나의 취미은 {hobby}입니다.')

intro_me('지호', '20', '운동')

나의 이름은 지호입니다.
나의 나이은 20입니다.
나의 성별은 여자입니다.
나의 취미은 운동입니다.