<a href="https://colab.research.google.com/github/jiho4399/TIL_Colab/blob/master/05_%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 8. 변수 스코프

## vartest with return

```
a = 4

def vartest(b) :    
  b = b + 1
  return b

vartest(b)
b
```

- print(lVar) 하면 lVar + 1 한 값을 출력하지만
- return 해주지 않았기 때문에 gVar는 그대로 1이 출력됨

In [ ]:
gVar = 1 #전역변수 : 어디에서나 사용 가능

def vartest(lVar) : #지역변수 : 특정한 곳에서만 사용 가능
  lVar = lVar + 1
  print(lVar) 

vartest(gVar)
gVar

2

1

In [ ]:
gVar = 5

def vartest(lVar) :
  lVar = lVar + 1
  #print(lVar)
  return lVar #lVar + 1 을 lVar로 돌려줌

vartest(gVar)

6

## vartest with global
- gVal, lVal 구분이 없어서 문제 발생 가능성 높아짐
- 그래서 global 함수는 잘 쓰지 않음

In [ ]:
a = 1
def vartest2() :
  global a
  a = a + 1

vartest2()
print(a)

2

# 9. 람다 함수
- 함수명이 없는 함수
- 함수를 짧게 사용할 경우에 사용
- 가끔 변수명을 지정해주기도 함

In [ ]:
add = lambda a, b : a + b

r = add(1, 2)
r

3

In [ ]:
# 위에 lambda 와 같은 방식
def add(a, b) :
  return a + b

add(1, 2)

3

# 1. 입출력 input()
- 결과가 문자열로 처리됨

In [ ]:
num1= input('숫자를 넣어주세요. ')
num1

숫자를 넣어주세요. 3

'3'

In [ ]:
# 숫자로 처리하기 위해 int()
num2 = int(input('숫자를 넣어주세요! '))
num2

숫자를 넣어주세요! 5

5

In [ ]:
print('I' 'love' 'you')

Iloveyou

In [ ]:
print('I', 'love', 'you')

I love you

In [ ]:
for i in range(10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# print()에는 end라는 파라메타가 있는데 
# 기본값은 new line이고 띄어쓰기를 입력하면 가로로 출력됨
for i in range(10) :
  print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

# 2. 파일

- 데이터를 보관하기 위한 장소 중 하나

## 파일 생성하기

- open('파일명', '모드') 형식
- 모드
  - r : read
  - w : write
  - a : append
- 변수명.close()로 닫아주기

In [ ]:
f = open('filetest.txt', 'w')

f.close()

- 파일 생성하고 내용 넣기

In [ ]:
f = open('filetest.txt', 'w')

for i in range(1, 11) :
  data = f'{i} 번째 줄 입니다. \n'
  f.write(data)

f.close()

## 파일 읽기
- .readlines() 하면 자동으로 리스트로 리턴해줌

In [ ]:
f = open('filetest.txt', 'r')

line = f.readline()
print(line)

f.close()

1 번째 줄 입니다.

In [ ]:
f = open('filetest.txt', 'r')

lines = f.readlines()
print(lines)

f.close()

['1 번째 줄 입니다. \n', '2 번째 줄 입니다. \n', '3 번째 줄 입니다. \n', '4 번째 줄 입니다. \n', '5 번째 줄 입니다. \n', '6 번째 줄 입니다. \n', '7 번째 줄 입니다. \n', '8 번째 줄 입니다. \n', '9 번째 줄 입니다. \n', '10 번째 줄 입니다. \n']

- for문 사용하여 출력하기

In [ ]:
f = open('filetest.txt', 'r')

lines = f.readlines()
for line in lines :
  print(line)

f.close()

1 번째 줄 입니다.

2 번째 줄 입니다.

3 번째 줄 입니다.

4 번째 줄 입니다.

5 번째 줄 입니다.

6 번째 줄 입니다.

7 번째 줄 입니다.

8 번째 줄 입니다.

9 번째 줄 입니다.

10 번째 줄 입니다.

- while문 사용하여 출력하기

In [ ]:
# line의 갯수를 알 수 없을 때 read
f = open('filetest.txt', 'r')

while True :
  line = f.readline()
  if not line :
    break
  print(line)
  
f.close

1 번째 줄 입니다.

2 번째 줄 입니다.

3 번째 줄 입니다.

4 번째 줄 입니다.

5 번째 줄 입니다.

6 번째 줄 입니다.

7 번째 줄 입니다.

8 번째 줄 입니다.

9 번째 줄 입니다.

10 번째 줄 입니다.

## 파일에 내용 추가하기

- with라는 예약어를 사용하면 자동으로 close( ) 됨

In [ ]:
with open('filetest.txt', 'a') as f :
  for i in range(11, 21) :
    data = f'{i} 번째 줄입니다. \n'
    f.write(data)

## 실습

1. 매수종목.txt 라는 이름으로 상위 3위 종목 파일 만들기 (번호만)

  - 로스웰 900260
  - KODEX 252670
  - TS트릴리온 317240

In [ ]:
stocks = {'로스웰' : 900260, 'KODEX' : 252670, 'TS트릴리온' : 317240}
with open('매수종목.txt', 'w') as s :
  for i, j in stocks.items() :
    data = f'{i} : {j} \n'
    s.write(data)

2. 파일을 읽고 종목명과 코드를 리스트로 만들기

In [ ]:
with open('매수종목.txt', 'r') as s :
  line = s.readlines()
 
  lst = []

  for line in lines :
    lst.append(line.strip()) #strip() : 공백 제거

  print(lst)

['로스웰 : 900260', 'KODEX : 252670', 'TS트릴리온 : 317240']

3. 파일을 읽고 종목명과 코드를 딕셔너리로 만들기

In [ ]:
with open('매수종목.txt', 'r') as s :
  lines = s.readlines()

  dic = {}

  for line in lines :
    i, j = line.strip().split(':') #strip() : 공백 제거, split : ':'기준으로 나누기
    dic[i] = j
  
  print(dic)

{'로스웰 ': ' 900260', 'KODEX ': ' 252670', 'TS트릴리온 ': ' 317240'}

 3.에 대한 강사님 해설

In [ ]:
stock = {'로스웰' : 900260, 'KODEX' : 252670, 'TS트릴리온' : 317240}
with open('매수종목1.txt', 'w') as s :
  for i, j in stock.items() :
    data = f'{i} {j} \n'
    s.write(data)

In [ ]:
with open('매수종목1.txt', 'r') as s :
  lines = s.readlines()

  data = {}

  for line in lines :
    #print(line)
    k, v = line.split() #.strip()
    data[k] = v
  
  print(data)

{'로스웰': '900260', 'KODEX': '252670', 'TS트릴리온': '317240'}